
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #000;
    height: 75px;
    display: flex;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
}
.logo img{
    max-width: 180px;
    margin: 30px;
    display: flex;
}
nav ul{
    display: flex;
    list-style: none;
    color: white;
}
ul li a{
    padding-left: 25px;
    margin-left: 23px;
    text-decoration: none;
    transition: all .42s ease;
    font-weight: bold;
    font-size: 12px;
    color: white;
}
nav i{
  font-size: 20px;
    margin-right: 20px;
}
.fa-list{
  display: none;
}
ul li a:hover{
    color: #37c0ed;
}
.border{
    border: 1px solid #fff;
    padding: 10px;
    width: 300px;
}
.italic{
    margin: 10px;
    font-style: italic;
}
.container{
    padding: 13% 8%;
    display: flex;
    background-image: url(kaspien_cover.jpg);
    background-position: center;
    background-size: cover;
    height: 19vh;
}
.left p{
    font-size: 45px;
    font-family: "Montserrat", sans-serif;
    color: white;
}
.left button{
    width: 100px;
    height: 45px;
    background-color: transparent;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    border: 1px solid white;
    color: #fff;
}
.container .right{
    width: 520px;
    position: relative;
    bottom: 150px;
    margin-left: 10px;
}

    .card {
      max-width: 1200px;
      margin: 30px auto;
      display: flex;
      height: 47vh;
      justify-content: space-between;
      padding: 25px;
      text-align: center;
      background-color: #fff;
    }
    .one img{
        margin-left: 30px;
    }

    .one {
        margin-bottom: 20px;
      display: grid;
      padding: 20px;
      text-align: center;
      margin: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      margin-bottom: 10px;
      background-color:#f4f4f4 ;
      font-family:"Montserrat", sans-serif ;
    }

    a {
      color:#37c0ed;
    }

    p {
      color: #666;
    }
    .main{
        position: relative;
        width: 90%;
        height: 140vh; 
        font-family:"Montserrat", sans-serif  ;
      }
      .top-left {
        position: absolute;
        top: 0;
        left: 0;
        padding: 8%; 
        width: 450px;
      }
      .top-left h4{
        margin-bottom: 20px;
        font-size: 22px;
        font-family:"Montserrat", sans-serif  ;
      }
      .top-left p{
        line-height: 30px;
      }
      .top-left button{
        width: 200px;
        height: 50px;
        margin: 20px 0px;
        background-color:transparent;
        font-family:"Montserrat", sans-serif  ;
        font-weight: bold;
      }

      .bottom-right h4{
        margin-bottom: 20px;
        font-size: 22px;
        font-family:"Montserrat", sans-serif  ;
      }
      .bottom-right p{
        line-height: 30px;
      }
      .bottom-right button{
        width: 150px;
        height: 50px;
        margin: 20px 0px;
        background-color:transparent;
        font-family:"Montserrat", sans-serif  ;
        font-weight: bold;
      }
      .top-right {
        position: absolute;
        top: 0;
        right: 0;
      }
  
      .bottom-left {
        position: absolute;
        bottom: 1;
        left: 0;
        top: 450px;
        width: 500px;
        margin-left: 70px;
      }
      .bottom-right {
        position: absolute;
        bottom: 1;
        right: 0;
        top: 400px;
        margin-left: 100px;
         padding: 4%;
         width: 450px;
      }
      .top-right img{
        transition: all 0.5s;
        width: 500px;
        margin-left: 50px;
      }
      .icons{
        align-items: center;
        text-align: center;
        height: 35vh;
      }
      .image{
        display: flex;
      }
      .center p{
        font-family:"Montserrat", sans-serif  ;
        font-size: 35px;
        margin: 20px;
      }
      .image img{
        margin-top: 20px;
        text-align: center;
        align-items: center;
        margin-left: 75px;
        width: 140px;
      }
      .contact{
        padding: 8%;
      }
      .row {
        float: left;
        width: 50%;
    }
    .row p{
        width: 500px;
        line-height: 25px;
        font-family:"Montserrat", sans-serif ;
    }
    .row h4{
        font-family:"Montserrat", sans-serif ;
        margin-bottom: 20px;
    }
    .row a{
        margin-top: 30px;
        font-family:"Montserrat", sans-serif ;
        margin: 50px 0px;
    }
    .row img{
        width: 500px;
        margin-top: 20px;
    }
    .form {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        float: right;
        height: 550px;
        width: 550px;
        margin-bottom: 50px;
    }
    .space{
        margin-left: 50px;
        display: flex;
        position: relative;
        right: 17px;
        margin-top: 10px;
      }
      .space p{
        margin-left: 15px;
      }
      .space input{
        margin: 15px;
        border: 1px solid gray;
        width: 190px;
        height: 35px;
        background-color: #f8f8f8;
      }
      .up p{
        margin-left: 50px;
        margin-bottom: 5px;
      }
      .up input{
        background-color:  #f8f8f8;
        height: 38px;
        width: 410px;
        border: 1px solid gray;
        margin-left: 50px;
      }
      .form select{
        margin-left: 50px;
        width: 415px;
        height: 35px;
        background-color:  #f8f8f8;
      }
      .input p{
        margin-left: 50px;
        margin-top: 10px;
      }
      .text-area{
        width: 600px;
        height: 20px;
        margin-left: 50px;
        margin-top: 10px;
      }
      .select{
        margin-top: 85px;
      }
      .select p{
        margin-left: 50px;
        margin-bottom: 10px;
      }
      .form button{
        width: 100px;
        height: 40px;
        font-weight: bold;
        margin-left: 50px;
        margin-top: 20px;
        border: 0;
        background-color: #0a5577;
        color: white;
        font-family:"Montserrat", sans-serif ;
      }
      form{
        margin-top: 20px;
      }
      .p span{
        color: orangered;
      }
      .p i{
        color: orangered;
      }
      .p{
        margin-left: 50px;
        font-family:"Montserrat", sans-serif ;
        margin-top: 20px;
      }
      .footer{
        margin: 20px;
        position: relative;
        margin-top: 50px;
    }
    footer{
        justify-content: space-evenly; 
        align-items: center;
        text-align: center;
        margin-top: 100px;
    }

    

    @media(max-width: 990px ){ 
    
      nav ul li{
        display: none;
      }
      .fa-list{
        display: flex; 
        float: right;
        margin-left: 20px;
      }
      .logo img{
        position: relative;
      }
    .left p{
      margin-bottom: 10px;
        font-size: 30px;
        font-family: "Montserrat", sans-serif;
        color: white;
    }
    .left button{
        width: 90px;
        height: 25px;
        background-color: transparent;
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
        border: 1px solid white;
        color: #fff;
    }
    .container .right{
        bottom: 10px;
        position: relative;
        width: 250px;
    }
    .container{
      height: 27vh;
  }
  .card {
    max-width: 1200px;
    display: block;
    height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 25px;
    text-align: center;
    background-color: #fff;
  }
  .one img{
    
      margin-left: 30px;
  }

  .one {
    margin-bottom: 20px;
    display: flex;
    padding: 20px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 10px;
    background-color:#f4f4f4 ;
    font-family:"Montserrat", sans-serif ;
  }
  .one p{
    margin-top: 30px;
  }
  .one a{
    margin-top: 30px;
  }
  .main{
    position: relative;
    width: 90%;
    height: 140vh; 
    font-family:"Montserrat", sans-serif  ;
  }
  .top-right{
    width: 400px;
    margin-top: 80px;
  }
  .top-left {
    position: absolute;
    top: 30%;
    left: 0;
    padding: 8%; 
    width: 400px;
  }
  .top-left h4{
    font-size: 20px;
    font-family:"Montserrat", sans-serif  ;
  }
  .top-left p{
    line-height: 20px;
  }
  .top-left button{
    width: 90px;
    height: 30px;
    font-size: 8px;
    background-color:transparent;
    font-family:"Montserrat", sans-serif  ;
    font-weight: bold;
  }

  .bottom-right h4{
    font-size: 22px;
    font-family:"Montserrat", sans-serif  ;
  }
  .bottom-right p{
    line-height: 20px;
  }
  .bottom-right button{
    width: 90px;
    height: 30px;
    font-size: 8px;
    background-color:transparent;
    font-family:"Montserrat", sans-serif  ;
    font-weight: bold;
  }
  .top-right {
    position: absolute;
    top: 0;
    right: 0;
  }
.bottom-left img{
  width: 250px;
}
  .bottom-left {
    position: absolute;
     top: 65%;
    left: 0;
    /* padding: 8%;  */
    width:100px; 
  }
  .bottom-right {
    position: absolute;
    bottom: 1;
    right: 10;
    top: 90%;
    /* margin-left: 100px; */
     /* padding: 4%; */
      width: 385px; 
  }
  .top-right img{
    transition: all 0.5s;
    width: 250px;
    margin-left: 50px;
  }
  .center p{
  font-size: 25px;
  }
  .image{
    display: block;
  }
  .icons{
    height: 48vh;
    padding-top: 43%;
   }
   .row{
    margin-top: 30px;
   }
  .row img{
    width: 325px;
    margin-top: 50px;
  } 
  .row p{
    line-height: 20px;
    width: 405px;
  }
  .form {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    float: right;
    height: 500px;
    width: 400px; 
    margin-bottom: 50px;
  }
    .space input{
      margin: 15px;
      border: 1px solid gray;
      width: 150px;
      height: 30px;
      background-color: #f8f8f8;
    }
    .up p{
      margin-left: 50px;
      margin-bottom: 5px;
    }
    .up input{
      background-color:  #f8f8f8;
      height: 30px;
      width: 330px;
      border: 1px solid gray;
      margin-left: 50px;
    }
    .form select{
      margin-left: 50px;
      width: 325px;
      height: 28px;
      background-color:  #f8f8f8;
    }
    .input p{
      margin-left: 50px;
      margin-top: 10px;
    }
    
    .text-area textarea{
       width: 325px; 
      height: 60px;
    }  
    .select{
      margin-top: 85px;
    }
    .select p{
      margin-left: 50px;
      margin-bottom: 10px;
    }
    .form button{
      width: 75px;
      height: 25px;
      font-size: 15px;
      border: 0;
      background-color: #0a5577;
      color: white;
      font-family:"Montserrat", sans-serif ;
    }
    

    }